<div class="task">
  <% @tasks.each do |task| %>
    <div class="task__card">
      <tr>
        <td><%= task.task_title %></td>
    </div>    
    <div class="state__card">
      <select name="state">
        <% @status.each_with_index do |s,i| %>
        <option value="<%= s %>"><%= s %></option>
        <% end %>
      </select>
    </div>
    <div class="task_option">
      <td><%= link_to 'Show', task_path(task) %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Delete', task_path(task), method: :delete %></td>
    </tr>
    </div>
    <% end %>
  </table>
</div>
  <p><%= link_to 'ToDoの作成', new_task_path %></p>
